<div class="ttt-field-container" 
    (click)="disabled() ? $event.preventDefault() : null"
>
    @if (label()) {
       <label [for]="switchId()" class="ttt-label">{{label()}}</label>
    }
    <label class="ttt-switch" [class.disabled]="disabled()">
      <input type="checkbox"
        role="switch"
        [id]="switchId()"
        [attr.aria-checked]="value()" 
        [checked]="value()"
        [disabled]="disabled()"
        (change)="onChange($event); emitEvent($event)"
        (blur)="onBlur(); emitEvent($event)"
        (keydown)="onKeydown($event)"
      />
      <span class="ttt-switch-slider"></span>
      <span class="ttt-switch-label">{{value()}}</span>
    </label>
</div>