<div class="ttt-field-container" 
    (click)="disabled() ? $event.preventDefault() : null"
>
    @if (label()) {
       <div class="ttt-label">{{label()}}</div>
    }
    <label class="ttt-switch" [class.disabled]="disabled()">
      <input type="checkbox" 
        [checked]="value()"
        [disabled]="disabled()"
        (change)="onChange($event); emitEvent($event)"
        (blur)="onBlur(); emitEvent($event)"
        (keydown)="onKeydown($event)"
      />
      <span class="ttt-switch-slider"></span>
      <span class="ttt-switch-label">{{value()}}</span>
    </label>
</div>