
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: var(--font-family-theme);
  font-size: var(--font-size-default);
}

.sample-container {
  box-shadow: 0 10px 6px -6px #0003;
  -moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.2);
  margin: 5px auto 40px;
  min-height: 100px;
  padding: 15px;
  position: relative;
  background-color: #FFF;
}

.po-page-content {
  background-color: var(--color-neutral-light-05);
}

.ttt-field-container-content {
  --padding: var(--spacing-xs) 0;
}

.ttt-label {
  font-family: var(--font-family-theme);
  font-size: var(--font-size-default);
  line-height: var(--line-height-md);
  color: var(--color-neutral-dark-90);
  font-weight: var(--font-weight-semibold);
  margin-bottom: .5rem;
}
